#img{
    height: auto;
    width: auto;
    margin-top: 50px;
}

.button{
    border:5px solid black;
    margin: 10px;
    background-color: slateblue;
    height: auto;
    width: 80px;
    color: white;
    
}
.nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 40px;
    width: 100%;
    border: 8px solid black;

}